[Desktop Entry]
Name=MaclinOS Flow
Name[x-test]=xxMaclinOS Flowxx
X-KDE-PluginInfo-Name=MaclinOS
X-KDE-PluginInfo-Author=MaclinOS Project
X-KDE-PluginInfo-Email=maclinos@example.com
X-KDE-PluginInfo-License=CC-BY-4.0
